@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(233 185 76);
    height: 100vh;
    color: #000;
    font-family: 'Mulish', sans-serif;
}

.container {
    box-shadow: 0 0 24px 2px rgb(0 0 0 / 30%);
    padding: 24px;
    width: 360px;
    background: #fff;
}

.container h2 {
    text-align: center;
    margin-bottom: 12px;
}

.container .sub-container {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    letter-spacing: 1px;
    font-size: 18px;
    width: calc(100% - 24px);
    height: 40px;
    padding: 10px 12px;
}

.sub-container .result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.sub-container .clipboard {
    font-size: 20px;
    position: absolute;
    top: 6px;
    right: 6px;
    height: 45px;
    width: 45px;
    border: none;
    background: rgb(0 0 0 / 30%);
    color: #fff;
    cursor: pointer;
}

.container .set-container {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
}

.container .generate {
    border: none;
    cursor: pointer;
    background: #000;
    font-size: 16px;
    padding: 12px;
    display: block;
    width: 100%;
    outline: none;
    color: #fff;
}

.container .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.container .group input {
    outline: none;
    appearance: none;
    width: 50px;
    height: 24px;
    background: #ddd;
    border: none;
    position: relative;
    transition-delay: .1s;
    text-align: center;
    font-size: 16px;
}

.container .group input[type="checkbox"]:checked {
    background: rgb(233 185 76);
}
.container .group input[type="checkbox"]::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    background: rgb(0 0 0 / 100%);
    transition: .2s;
}

.container .group input[type="checkbox"]:checked::before {
    background: rgb(0 0 0 / 70%);
    left: 50%;
}